<nav class="menu-lateral">
    <div class="btn-expandir">
        <img src="../../../../assets/icons/list.svg" alt="btn-expandir">
        <ul>
            <li class="item-menu">
                <a href="#">
                    <span class="icon"><img src="../../../../assets/icons/home.svg" alt="Home"></span>
                    <span class="txt-link">Home</span>
                </a>
            </li>
            <li class="item-menu">
                <a href="#">
                    <span class="icon"><img src="../../../../assets/icons/extrato.svg" alt="Extrato"></span>
                    <span class="txt-link">Extrato</span>
                </a>
            </li>
            <li class="item-menu">
                <a href="#">
                    <span class="icon"><img src="../../../../assets/icons/cadastro.svg" alt="Cadastro"></span>
                    <span class="txt-link">Cadastro</span>
                </a>
            </li>
        </ul>
    </div>
</nav>
    