<nav class="menu-lateral">
    <div class="menu-itens">
            <a routerLink="/app/home" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" >
                <div class="icon"><img src="../../../../assets/icons/home.svg" alt="Home"></div>
            </a>
        
        
            <a routerLink="/app/extrato" routerLinkActive="active">
                <div class="icon"><img src="../../../../assets/icons/extrato.svg" alt="Extrato"></div>
               
            </a>
       
            <a routerLink="/app/perfil"  routerLinkActive="active" >
                <div class="icon"><img src="../../../../assets/icons/cadastro.svg" alt="iconeperfil"></div>
              
            </a>
    </div>
 
    <div >
        <a><img src="../../../../assets/icons/list.svg" alt="btn-expandir"></a>
    </div>
</nav>