
.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #232526;

}

.auth-box {
    display: flex;
    width: 762px;
    height: 397px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-bottom-left-radius: 170px;
    background-color: #332940;
    overflow: hidden;
}

.left-side {
    background-color: #332940;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-bottom-left-radius: 170px;
}

.left-side img {
    position: absolute;
    left: 15px;
    /* Coordenada X */
    top: 50px;
    /* Coordenada Y */
    width: 456px;
    height: 293px;
}

.right-side {
    background-color: #ffffff;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    width: 80%;
}


.buttons {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.buttons button {
    background-color: #BB86FC;
    color: #ffffff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 243px;
    height: 60px;
    font-family: 'Montserrat', sans-serif;
}

.buttons button:nth-child(1) {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.buttons button:nth-child(2) {
    background-color: #ffffff;
    color: #BB86FC;
    border: 1px solid #BB86FC;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
   
}

.buttons button:hover:nth-child(1) {
    cursor: pointer;
    background-color: #923df8;
}
.buttons button:hover:nth-child(2) {
    cursor: pointer;
    background-color: #e8e7e7e2;
}