<div class="extrato-layout">
    <div class="extrato-filter">
        <div class="extrato-input">
            <label for="datainicial">Data Inicial</label>
            <input type="date" id="datainicial"   [(ngModel)]="dataInicial">


        </div>
        <div class="extrato-input">
            <label for="datafinal">Data Final</label>
            <input type="date" id="datafinal"  [(ngModel)]="dataFinal">

        </div>
    </div>
    <div class="extrato-table">
        <div class="extrato-header">
            <h3>Últimas transações</h3>
        </div>
        <div class= "extrato-body">
            <div  *ngFor="let item of traferencia" class="extrato-item">
              <div *ngIf="item.chavePixOrigem == minhaChavePix ">
                  <img src="/assets/icons/eviado.png" alt="enviado" >
              </div>
              <div *ngIf="item.chavePixOrigem != minhaChavePix ">
                  <img src="/assets/icons/recebido.png" alt="recebido" >
              </div>
              <div class="detalhes">
                  <h3>Daniel Oliveira da Silva</h3>
                  <p>Data: {{item.Data | date: 'dd/MM/yyyy HH:mm:ss' }}</p>
                  <p>Pix: {{item.chavePixDestino}}</p>
                  <p>ID: {{item.ChaveDeSeguranca}}</p>
              </div>
              <div style="width: 22%;">
                  <h3>R$ {{item.Valor}}</h3>
              </div>

            </div>

        </div>
    </div>
</div>
