.container-home{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.pix-options{
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.container-perfil{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    color: #ffffff;
}
.fulano{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.fulano p{
    font-family: 'Montserrat Alternates' ;
    font-size: 16px;
    font-weight: 400;
}
.fulano h1{
    font-family: 'Montserrat';
    font-size: 24px;
    font-weight: medium;
}
.ultimastransacoes{
    display: flex;
    align-items: left;
}
.ultimastransacoes p{
    font-family: 'Montserrat';
    font-size: 30px;
    font-weight: medium;
    color: #ffffff;
}