<div class="pix-cadastro-container">
  <div class="pix-cadastro-box">
    <div class="pix-cadastro-itens-layout">
      <div class="pix-cadastro">
        <div class="pix-cadastro-itens">
          <img src="/assets/icons/cpficone.png" alt="">
          <h2>CPF</h2>
        </div>
        <button class="pix-cadastro-btn">+</button>
      </div>
      <div class="pix-cadastro">
        <div class="pix-cadastro-itens">
          <img src="/assets/icons/celular.png" alt="">
          <h2>Celular</h2>
        </div>
        <button class="pix-cadastro-btn">+</button>
      </div>
      <div class="pix-cadastro">
        <div class="pix-cadastro-itens">
          <img src="/assets/icons/email.png" alt="">
          <h2>E-mail</h2>
        </div>
        <button class="pix-cadastro-btn">+</button>
      </div>
      <div class="pix-cadastro">
        <div class="pix-cadastro-itens">
          <img src="/assets/icons/aleatoria.png" alt="">
          <h2>Chave Aleatória</h2>
        </div>
        <button class="pix-cadastro-btn">+</button>
      </div>
    </div>
    <form class="pix-cadastro-form" [formGroup]="pixForm" (ngSubmit)="onSubmit()">
      <div class="chave-pix">
        <label for="chave-pix">Informe a chave pix</label>
        <input type="text" id="chave-pix" placeholder="123.333.555-66" formControlName="chavePix">
      </div>
      <div class="chave-pix-btn">
        <button type="submit">Cadastrar</button>
      </div>
    </form>
  </div>
</div>
